<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070235381235-1b7fs1coqi7np2r2nqlf92jq057i10oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070235381235-1b7fs1coqi7np2r2nqlf92jq057i10oc</string>
	<key>API_KEY</key>
	<string>AIzaSyDdgELpSWhkx4ZKfZHLehBazHxpws5wnz8</string>
	<key>GCM_SENDER_ID</key>
	<string>1070235381235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cadoulTau.App</string>
	<key>PROJECT_ID</key>
	<string>cadoultau-test</string>
	<key>STORAGE_BUCKET</key>
	<string>cadoultau-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070235381235:ios:3a45d355f789e37aaef686</string>
</dict>
</plist>